.notfound-banner{background-image: url('images/notfound-bg.webp');background-position: center;background-repeat: no-repeat;background-size: cover;padding: 100px 0 150px 0;}
.notfound-banner h1{font-size: 100px;font-weight: bold;line-height: normal;}
.notfound-banner .info-para{font-size: 42px;font-weight: 500;margin: 0px 0 20px 0;line-height: normal;}
.popular-page{position: relative;background-color: #fff;border-radius: 20px;padding: 20px;margin: -70px 0;border: 1px solid #ccc; box-shadow: 0 2px 20px 0 #00000010;}
.popularpage-box{text-align: center;}.popularpage-box{font-size: 18px;font-weight: 500;margin-top: 10px;}
.popularpage-box img{transition: 0.3s all ease-in-out;}
.popularpage-box:hover img{transform: scale(1.1);transition: 0.3s all ease-in-out;}
.content-part.new-bg{background: linear-gradient(90deg, rgba(253, 254, 255, 1) 0%, rgba(235, 243, 250, 1) 33%, rgba(255, 244, 242, 1) 66%, rgba(255, 252, 252, 1) 100%);padding: 50px 0;padding: 160px 0 10px 0;}
.headings{font-size: 20px;margin-bottom: 20px;font-weight: 500;}
.found-box{text-align: center;background-color: #fff;border-radius: 10px;min-height: 100%;align-content: center;cursor: pointer;margin: 10px;transition: 0.3s all ease-in-out;outline: 3px solid transparent;width: 96%;}
.found-box img{max-width: 60px;max-height: 60px;width: auto;margin: 20px 0 10px 0;transition: 0.3s all ease-in-out;}
.found-box:hover{outline-color: #8DB5EF; transition: 0.3s all ease-in-out;}
.found-box:hover img{transform: scale(1.1);transition: 0.3s all ease-in-out;}
.found-box p a{text-decoration: none;color: #4286E4;font-size: 15px;}
.found-box h3{line-height: normal;font-size: 17px;padding: 0 10px;}
.container-wid{width: 90%;margin: 0 auto;padding-bottom: 60px;}
.blue-area{background-color: #031F4B;color: #fff;}
.blue-part{padding: 50px 0;}
.blur-part-flex{border-left: 1px dashed #ccc;padding-left: 20px;text-align: center;}
.blur-part-flex img{margin-bottom: 20px;}
.col-3:first-child .blur-part-flex{border: none;}
.blur-part-flex .blue-data h3{line-height: 26px;font-size: 24px;}
.blur-part-flex .blue-data p{line-height: normal;margin-bottom: 0;}

.hire-dev-part{margin: 50px 0;}
.hire-dev-box{position: relative;z-index: 1;border: 2px solid #ccc;border-radius: 20px;padding: 60px 40px;background-image: url('images/notfound/hire-dev-bg.webp');background-position: center top;background-repeat: no-repeat;background-size: cover;}
.hire-dev-box p{margin-bottom: 0px;}
.hire-dev-box .sub-para{margin: 20px 0;}

@media (max-width:1199px){.container-wid .col-2.col-md-6.col-sm-12{flex: 0 0 25%;max-width: 25%;}}
@media (max-width:991px){.blur-part-flex{border: none;margin-bottom: 20px;}.hire-dev-box::after {content: "";position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(255, 255, 255, 0.6);backdrop-filter: blur(40px);-webkit-backdrop-filter: blur(40px);z-index: -1;border-radius: inherit;}.notfound-banner{padding: 150px 0;} .notfound-banner h1{font-size: 66px!important;} .notfound-banner .info-para{font-size: 32px;}.notfound-banner{padding-bottom: 120px;}}
@media (max-width:767px){.container-wid .col-2.col-md-6.col-sm-12{flex: 0 0 50%;max-width: 50%;margin-bottom: 20px;}}
@media (max-width:575px){.container-wid .col-2.col-md-6.col-sm-12{flex: 0 0 100%;max-width: 100%;}}
@media (max-width:480px){.notfound-banner .green-btn-box a{margin-bottom: 10px;}.blur-part-flex img{height:60px;width: auto;}}