<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="AdminEmail" value="aegisisc@gmail.com" />
    <add key="AdminCCEmail" value="hs@aegissofttech.com" />
	<add key="AdminConEmail" value="harshsavani@gmail.com" />
    <add key="AdminConCCEmail" value="hs@aegissofttech.com" />
    <!--<add key="AdminCCEmail" value="amit.aegisisc@gmail.com"/>-->
    <add key="CareerAdminEmail" value=" hr@aegisisc.com,hr@aegissofttech.com,admin@aegisisc.com" />
    <add key="CareerAdminCCEmail" value="harsh.savani@gmail.com" />
	<add key="AdminEmailSurvey" value="appsurvey@aegissofttech.com" />
    <add key="AdminCCEmailSurvey" value="appsurvey@aegissofttech.com" />
    <add key="SMTPHost" value="127.0.0.1" />
    <add key="SMTPUserName" value="webenquiry@aegissofttech.com" />
    <add key="SMTPPassword" value="58k~hb4pEkWGhkba" />
    <add key="SMTPMailFrom" value="webenquiry@aegissofttech.com" />
    <add key="SMTPMailFromTitle" value="aegissofttech.com | Enquiry" />
    <add key="SMTPEnableSSL" value="False" />
    <add key="SMTPPort" value="25" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" tempDirectory="C:\Inetpub\vhosts\aegissofttech.com\tmp" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="400" subStatusCode="-1" />
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="400" path="404.html" prefixLanguageFilePath="" responseMode="File" />
      <error statusCode="404" path="404.html" prefixLanguageFilePath="" responseMode="File" />
      <error statusCode="401" path="404.html" prefixLanguageFilePath="" responseMode="File" />
      <error statusCode="403" path="404.html" prefixLanguageFilePath="" responseMode="File" />
      <error statusCode="500" path="404.html" prefixLanguageFilePath="" responseMode="File" />
    </httpErrors>
    <!--GZip static file content.  Overrides the server default which only compresses static files over 2700 bytes-->
    <httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" />
    <!-- Set expire headers to 1 days for static content-->
    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>
    <!-- Force the latest IE version, in various cases when it may fall back to IE7 mode  Use ChromeFrame if it's installed for a better experience for the poor IE folk -->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-UA-Compatible" value="IE=Edge,chrome=1" />
        <add name="Etag" value=" " />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <remove name="Plesk. SEO-safe redirect for http://www.aegissofttech.com" />
        <rule name="Redirect To WWW" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^aegissofttech.com$" />
          </conditions>
          <action type="Redirect" url="http://www.aegissofttech.com/{R:0}" />
        </rule>
        <rule name="IIS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{URL}" pattern="[A-Z]" ignoreCase="false" />
          </conditions>
          <action type="Redirect" url="{Tolower:{R:0}}" appendQueryString="true" redirectType="Temporary" />
        </rule>
        <rule name="Redirect to home page" stopProcessing="true">
          <match url="^index.html" />
          <action type="Redirect" url="http://www.aegissofttech.com/" />
        </rule>
        <rule name="Redirect to Articles home page" stopProcessing="true">
          <match url="^articles/index.html" />
          <action type="Redirect" url="articles/" />
        </rule>		
		<rule name="Redirect to AU home page" stopProcessing="true">
          <match url="^en-au/index.html" />
          <action type="Redirect" url="en-au/" />
        </rule>
        <rule name="Redirect to SG home page" stopProcessing="true">
          <match url="^en-sg/index.html" />
          <action type="Redirect" url="en-sg/" />
        </rule>
        <rule name="Redirect to Testing page" stopProcessing="true">
          <match url="^qa-testing.html" />
          <action type="Redirect" url="https://www.aegissofttech.com/software-testing-services.html" />
        </rule>
        <rule name="Redirect to Magento page" stopProcessing="true">
          <match url="^magento-application-development.html" />
          <action type="Redirect" url="https://www.aegissofttech.com/magento-development-services.html" />
        </rule>
        <rule name="Redirect to Careers page" stopProcessing="true">
          <match url="^careers/index.html" />
          <action type="Redirect" url="careers/" />
        </rule>
		    <rule name="Redirect to crm page" stopProcessing="true">
          <match url="^crm/$" />
          <action type="Rewrite" url="http://www.aegissofttech.com/microsoft-dynamics-365-crm-services.html" />
        </rule>
      <rule name="Redirect to software testing page" stopProcessing="true">
          <match url="^testing/$" />
          <action type="Rewrite" url="http://www.aegissofttech.com/software-testing-services.html" />
        </rule>       
      <rule name="Redirect to industries page" stopProcessing="true">
          <match url="^industries/index.html" />
          <action type="Redirect" url="industries/" />
        </rule>
        <rule name="Redirect to Python page" stopProcessing="true">
          <match url="^python/$" />
          <action type="Redirect" url="https://www.aegissofttech.com/python-development.html" />
        </rule>
        <rule name="Redirect to Microsoft page" stopProcessing="true">
          <match url="^microsoft/$" />
          <action type="Redirect" url="https://www.aegissofttech.com/microsoft-consulting-services.html" />
        </rule>
        <rule name="Redirect to java page" stopProcessing="true">
          <match url="^java/$" />
          <action type="Redirect" url="https://www.aegissofttech.com/java-application-development-services.html" />
        </rule>
        <rule name="Redirect to azure page" stopProcessing="true">
          <match url="^azure/$" />
          <action type="Redirect" url="https://www.aegissofttech.com/microsoft-azure-analytics-services.html" />
        </rule>
        <rule name="Redirect to cloudera page" stopProcessing="true">
          <match url="^cloudera/$" />
          <action type="Redirect" url="https://www.aegissofttech.com/cloudera/data-engineering.html" />
        </rule>

        <rule name="Redirect to bigdata page" stopProcessing="true">
          <match url="^bigdata/$" />
          <action type="Redirect" url="https://www.aegissofttech.com/bigdata-analytics-consulting.html" />
        </rule>
        <rule name="Redirect to snowflake page" stopProcessing="true">
          <match url="^snowflake/$" />
          <action type="Redirect" url="https://www.aegissofttech.com/snowflake-development-services.html" />
        </rule>
        <rule name="Redirect to ai page" stopProcessing="true">
          <match url="^ai/$" />
          <action type="Redirect" url="https://www.aegissofttech.com/artificial-intelligence-business-solutions.html" />
        </rule>
        <rule name="Redirect to data warehouse page" stopProcessing="true">
          <match url="^data-warehouse/$" />
          <action type="Redirect" url="https://www.aegissofttech.com/data-warehousing-consulting.html" />
        </rule>
        <rule name="Redirect to cloud page" stopProcessing="true">
          <match url="^cloud/$" />
          <action type="Redirect" url="https://www.aegissofttech.com/cloud-consulting-services.html" />
        </rule>
        <rule name="Redirect to powerbi page" stopProcessing="true">
          <match url="^power-bi/$" />
          <action type="Redirect" url="https://www.aegissofttech.com/power-bi-development-services.html" />
        </rule>
        <rule name="Redirect to servicenow page" stopProcessing="true">
          <match url="^servicenow/$" />
          <action type="Redirect" url="https://www.aegissofttech.com/servicenow-development-services.html" />
        </rule>
        <rule name="Redirect to software testing" stopProcessing="true">
          <match url="^automated-software-testing.html" />
          <action type="Redirect" url="https://www.aegissofttech.com/software-testing-services.html" />
        </rule>
        <rule name="Redirect to generative ai dev" stopProcessing="true">
          <match url="^ai/generative-services.html" />
          <action type="Redirect" url="https://www.aegissofttech.com/generative-ai-development-services.html" />
        </rule>
        <rule name="Redirect to generative ai" stopProcessing="true">
          <match url="^ai/generative-development-services.html" />
          <action type="Redirect" url="https://www.aegissofttech.com/generative-ai-development-services.html" />
        </rule>
        <rule name="Redirect to ms 365 crm" stopProcessing="true">
          <match url="^microsoft-crm-development-services.html" />
          <action type="Redirect" url="https://www.aegissofttech.com/microsoft-dynamics-365-crm-services.html" />
        </rule>
        <rule name="Redirect to PowerBI" stopProcessing="true">
          <match url="^power-bi-services.html" />
          <action type="Redirect" url="https://www.aegissofttech.com/power-bi-development-services.html" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>